<div class="fincard-table-wrapper">
  <table class="fincard-table">
    <thead>
    <tr>
      <th>№</th>
      <th>Месяц</th>
      <th>Долг</th>
      <th>Пеня</th>
      <th>Начислено</th>
      <th>Аванс</th>
      <th>Итог</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Май</td>
      <td>256,23₽</td>
      <td>23,05₽</td>
      <td>654,65₽</td>
      <td>550,00₽</td>
      <td>356,45₽</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Май</td>
      <td>256,23₽</td>
      <td>23,05₽</td>
      <td>654,65₽</td>
      <td>550,00₽</td>
      <td>356,45₽</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Май</td>
      <td>256,23₽</td>
      <td>23,05₽</td>
      <td>654,65₽</td>
      <td>550,00₽</td>
      <td>356,45₽</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Май</td>
      <td>256,23₽</td>
      <td>23,05₽</td>
      <td>654,65₽</td>
      <td>550,00₽</td>
      <td>356,45₽</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Май</td>
      <td>256,23₽</td>
      <td>23,05₽</td>
      <td>654,65₽</td>
      <td>550,00₽</td>
      <td>356,45₽</td>
    </tr>
  </tbody>
  </table>
  <div class="fincard-table-pagination">
    <a href="#" class="fincard-pagination-arrow">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.25 7L4.89645 6.64645L4.54289 7L4.89645 7.35355L5.25 7ZM8.39645 3.14645L4.89645 6.64645L5.60355 7.35355L9.10355 3.85355L8.39645 3.14645ZM4.89645 7.35355L8.39645 10.8536L9.10355 10.1464L5.60355 6.64645L4.89645 7.35355Z" fill="currentColor"/>
      </svg>        
    </a>
    <a href="#" class="fincard-pagination-number fincard-page-active">
      1
    </a>
    <a href="#" class="fincard-pagination-number">
      2
    </a>
    <a href="#" class="fincard-pagination-number">
      3
    </a>
    <a href="#" class="fincard-pagination-arrow">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.75 7L9.10355 6.64645L9.45711 7L9.10355 7.35355L8.75 7ZM5.60355 3.14645L9.10355 6.64645L8.39645 7.35355L4.89645 3.85355L5.60355 3.14645ZM9.10355 7.35355L5.60355 10.8536L4.89645 10.1464L8.39645 6.64645L9.10355 7.35355Z" fill="currentColor"/>
      </svg> 
    </a>
  </div>
</div>