<div class="tariffs-layout">
  <div class="tariff-block">
    <div class="tariff-text">
      <span class="tariff-name">
        Электроснабжение
      </span>
      <span class="tariff-company">
        ПАО “ТНС энерго Кубань”
      </span>
    </div>
    5,24 ₽/кВт*ч
  </div>
  <div class="tariff-block">
    <div class="tariff-text">
      <span class="tariff-name">
        Электроснабжение
      </span>
      <span class="tariff-company">
        ПАО “ТНС энерго Кубань”
      </span>
    </div>
    5,24 ₽/кВт*ч
  </div>
  <div class="tariff-block">
    <div class="tariff-text">
      <span class="tariff-name">
        Электроснабжение
      </span>
      <span class="tariff-company">
        ПАО “ТНС энерго Кубань”
      </span>
    </div>
    5,24 ₽/кВт*ч
  </div>
  <div class="tariff-block">
    <div class="tariff-text">
      <span class="tariff-name">
        Электроснабжение
      </span>
      <span class="tariff-company">
        ПАО “ТНС энерго Кубань”
      </span>
    </div>
    5,24 ₽/кВт*ч
  </div>
  <div class="tariff-block">
    <div class="tariff-text">
      <span class="tariff-name">
        Электроснабжение
      </span>
      <span class="tariff-company">
        ПАО “ТНС энерго Кубань”
      </span>
    </div>
    5,24 ₽/кВт*ч
  </div>

</div>