ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
text-decoration: none;
color: inherit;
}

input {
  border: 1px solid $text-secondary;
  color: $text-primary;
  display: flex;
  height: 1rem;
}

input[type=date]{
  text-align: center;
}

input.input-medium {
  border-radius: 4px;
  padding: 0.1rem;
  font-size: 14px;
}



button {
  cursor: pointer;
}

.text-with-icon {
  display: flex;
  align-content: center;
  align-items: center;

  :first-child {
    margin-right: 8px;
  }

  :last-child {
    align-self: center;
  }
}

.button-primary {
  @include orange-bg-gradient;
  color: white;
  border: none;
}

.button-secondary {
  background-color: transparent;
  color: $dark-orange;
  border: 1px solid $dark-orange;
}

.button-medium {
  padding: 6px 26px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;

  display: flex;
  align-items: center;
}

.button-large {
  width: 100%;
  height: 2.5rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.button-medium-with-icon {
  padding: 6px 18px 8px 12px;

  :first-child {
    margin-right: 8px;
  }
}

h2 {
  font-size: 24px;
  color: $dark-blue;
  font-weight: 500;
  padding: 0 2em;
}

h3 {
  font-size: 20px;
  color: $dark-blue;
  font-weight: 500;
  padding: 0 2em;
}

h4 {
  font-size: 18px;
  color: $dark-blue;
  font-weight: 400;
  padding: 0 2em;
}

a.orange-link {
  color: $dark-orange;
  text-decoration: none;

  :hover {
    color: $light-orange;
  }
}