.devices-table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 2rem;

  & thead {
    margin-bottom: 1rem;
    text-align: left;
  }

  & th {
    padding: 0 4rem;
  }

  & tbody tr {
    background-color: white;
  }

  & td {
    padding: 2.5rem 4rem;

    &:first-child {
      border-radius: 10px 0 0 10px;
    }
    
    &:last-child {
      border-radius: 0 10px 10px 0;
    }
  }
}

#devices-input-button {
  font-size: 12px;
}